<div class="pf404e-leagues" aria-label="Лиги">
<a class="pf404e-league" data-league="premier-league" data-league-id="39" href="{{ "transfers/" | relURL }}?league=39" aria-label="Premier League: трансферы">
<span class="pf404e-league__logo-box">
<img class="pf404e-league__logo" src="{{ "images/leagues/39.png" | relURL }}" alt="Premier League">
</span>
<span class="pf404e-league__name">Premier League</span>
</a>
<a class="pf404e-league" data-league="la-liga" data-league-id="140" href="{{ "transfers/" | relURL }}?league=140" aria-label="La Liga: трансферы">
<span class="pf404e-league__logo-box">
<img class="pf404e-league__logo" src="{{ "images/leagues/140.png" | relURL }}" alt="La Liga">
</span>
<span class="pf404e-league__name">La Liga</span>
</a>
<a class="pf404e-league" data-league="serie-a" data-league-id="135" href="{{ "transfers/" | relURL }}?league=135" aria-label="Serie A: трансферы">
<span class="pf404e-league__logo-box">
<img class="pf404e-league__logo" src="{{ "images/leagues/135.png" | relURL }}" alt="Serie A">
</span>
<span class="pf404e-league__name">Serie A</span>
</a>
<a class="pf404e-league" data-league="bundesliga" data-league-id="78" href="{{ "transfers/" | relURL }}?league=78" aria-label="Bundesliga: трансферы">
<span class="pf404e-league__logo-box">
<img class="pf404e-league__logo" src="{{ "images/leagues/78-v399d.png" | relURL }}" alt="Bundesliga">
</span>
<span class="pf404e-league__name">Bundesliga</span>
</a>
<a class="pf404e-league" data-league="ligue-1" data-league-id="61" href="{{ "transfers/" | relURL }}?league=61" aria-label="Ligue 1: трансферы">
<span class="pf404e-league__logo-box">
<img class="pf404e-league__logo" src="{{ "images/leagues/61.png" | relURL }}" alt="Ligue 1">
</span>
<span class="pf404e-league__name">Ligue 1</span>
</a>
<a class="pf404e-league" data-league="super-lig" data-league-id="203" href="{{ "transfers/" | relURL }}?league=203" aria-label="Süper Lig: трансферы">
<span class="pf404e-league__logo-box">
<img class="pf404e-league__logo" src="{{ "images/leagues/203.png" | relURL }}" alt="Süper Lig">
</span>
<span class="pf404e-league__name">Süper Lig</span>
</a>
<a class="pf404e-league" data-league="primeira-liga" data-league-id="94" href="{{ "transfers/" | relURL }}?league=94" aria-label="Primeira Liga: трансферы">
<span class="pf404e-league__logo-box">
<img class="pf404e-league__logo" src="{{ "images/leagues/94.png" | relURL }}" alt="Primeira Liga">
</span>
<span class="pf404e-league__name">Primeira Liga</span>
</a>
<a class="pf404e-league" data-league="rpl" data-league-id="235" href="{{ "transfers/" | relURL }}?league=235" aria-label="РПЛ: трансферы">
<span class="pf404e-league__logo-box">
<img class="pf404e-league__logo" src="{{ "images/leagues/235.png" | relURL }}" alt="РПЛ">
</span>
<span class="pf404e-league__name">РПЛ</span>
</a>
</div>
